{% assign news_size = site.news | size %}
<div class="news">
  {% if site.news != blank %}
    {% assign news = site.news | reverse %}
    {% if page.announcements.limit %}
      {% assign news_limit = page.announcements.limit %}
    {% elsif include.limit and site.announcements.limit %}
      {% assign news_limit = site.announcements.limit %}
    {% else %}
      {% assign news_limit = news_size %}
    {% endif %}
    <div
      class="table-responsive"
      {% if (page.announcements.scrollable or (include.limit and site.announcements.scrollable)) and news_size > news_limit %}
        {% assign scroll_height = site.announcements.scroll_height | default: '400px' %}
        style="max-height: {{ scroll_height }}; overflow-y: auto;"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% for item in news limit: news_limit %}
          <tr>
            <th scope="row" style="width: 15%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
